
﻿<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
<title>Smart Move. Your optimal locality-house finder!</title>
<link href="{% static 'css/bootstrap.css' %}" type="text/css" rel="stylesheet" media="all">
<link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="all">
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Immovable Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />

<link href="{% static 'css/gallery.css' %}" rel='stylesheet' type='text/css' />
<!-- //js -->	
<!--fonts-->
<link href='//fonts.googleapis.com/css?family=Titillium+Web:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Signika+Negative:300,400,600,700' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,300,600,700,800,400' rel='stylesheet' type='text/css'>
<!--/fonts-->
<!-- start-smoth-scrolling-->

<!--//end-smoth-scrolling-->
</head<!--banner-->
	<div class="banner">
		<!--header-->
			
		<!--//header-->
		<h1>Smart Move.</h1>
	</div>
	<!--//banner-->
	
	</div>

	<!--contact-->
	<div class="contact" id="contact">
		<div class="container">
			<h6>Let us get to know you!!!!!</h6>
			<div class="contact-grids">
				<div class="contact-left">				
					<form method="get" action="result.php">
						<input type="text" value="Location1" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Location1';}" required="">
                                                
						<input type="text" value="Location2" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Location3';}" required="">
						<input type="text" value="Location3" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Location3';}" required="">
						<br><br><h7><font color="Cyan"><font size="6">How frequently do you visit Temples???</font></h7><br><div class="stars">
  
    <input class="star star-5" id="star-5" type="radio" name="star1"/>
    <label class="star star-5" for="star-5"></label>
    <input class="star star-4" id="star-4" type="radio" name="star1"/>
    <label class="star star-4" for="star-4"></label>
    <input class="star star-3" id="star-3" type="radio" name="star1"/>
    <label class="star star-3" for="star-3"></label>
    <input class="star star-2" id="star-2" type="radio" name="star1"/>
    <label class="star star-2" for="star-2"></label>
    <input class="star star-1" id="star-1" type="radio" name="star1"/>
    <label class="star star-1" for="star-1"></label>
  

</div>

                                                 <br><br><h8><font color="Cyan"><font size="6">How frequently do you visit Restaurants???
</font></h8><div class="stars">
  
    <input class="star star-5" id="star-5" type="radio" name="star2"/>
    <label class="star star-5" for="star-5"></label>
    <input class="star star-4" id="star-4" type="radio" name="star2"/>
    <label class="star star-4" for="star-4"></label>
    <input class="star star-3" id="star-3" type="radio" name="star2"/>
    <label class="star star-3" for="star-3"></label>
    <input class="star star-2" id="star-2" type="radio" name="star2"/>
    <label class="star star-2" for="star-2"></label>
    <input class="star star-1" id="star-1" type="radio" name="star2"/>
    <label class="star star-1" for="star-1"></label>
  

</div>
                                               <br><br><h9><font color="Cyan"><font size="6">How frequently do you visit Parks???</font></h9><div class="stars">
  
    <input class="star star-5" id="star-5" type="radio" name="star3"/>
    <label class="star star-5" for="star-5"></label>
    <input class="star star-4" id="star-4" type="radio" name="star3"/>
    <label class="star star-4" for="star-4"></label>
    <input class="star star-3" id="star-3" type="radio" name="star3"/>
    <label class="star star-3" for="star-3"></label>
    <input class="star star-2" id="star-2" type="radio" name="star3"/>
    <label class="star star-2" for="star-2"></label>
    <input class="star star-1" id="star-1" type="radio" name="star3"/>
    <label class="star star-1" for="star-1"></label>
  

</div>
                                                

						<br>
    <Input type="submit" value="Submit" style="    width: 100px;    height: 40px;    color: white;    font-size: 1.5em;    background-color: cyan;">
</form>
					</form>
				</div>
				
	</div>
	<!--//contact-->
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); 		function hideURLbar(){ window.scrollTo(0,1); } </script>
		<!-- //Custom Theme files -->
		<!-- js -->
		<script src="{% static 'js/jquery-1.11.1.min.js' %}"></script> 
		<script type="text/javascript">
			$(document).ready(function() {
				/*
				var defaults = {
					containerID: 'toTop', // fading element id
					containerHoverID: 'toTopHover', // fading element hover id
					scrollSpeed: 1200,
					easingType: 'linear' 
				};
				*/
				
				$().UItoTop({ easingType: 'easeOutQuart' });
				
			});
		</script>
		<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
	<!--//smooth-scrolling-of-move-up
	<!-- Bootstrap core JavaScript
    ================================================== --->
    <!-- Placed at the end of the document so the pages load faster-->
    <script src="{% static 'js/bootstrap.js' %}"> </script>
</body>
</html>


